.container-fluid#section2
  .row#aktualnosci(style="padding-right: 0px; margin-right: 0px;")
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
      .navigation(style="margin-right: 25px;")
        span
          a(href="#plan-zajec", title="W dół")
            i.fa.fa-arrow-circle-down.navigation-icon
        span
          a(href="#kursy", title="W górę")
            i.fa.fa-arrow-circle-up.navigation-icon
    .col-xs-12.col-sm-2.col-md-2.col-lg-2.col-xl-2
    .col-xs-12.col-sm-8.col-md-8.col-lg-8.col-xl-8
      .ludziki3
        .floating-box.icon-ludz-03
        .floating-box.icon-ludz-04
        .floating-box.icon-ludz-06
        .floating-box.icon-ludz-13
        .floating-box.icon-ludz-08
        .floating-box.icon-ludz-05
        .floating-box.icon-ludz-09
        .floating-box.icon-ludz-10
        .floating-box.icon-ludz-11
        .floating-box.icon-ludz-12
        .floating-box.icon-ludz-14
        .floating-box.icon-ludz-07
      h2.podkresl Aktualności

    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12

    .col-xs-12.col-sm-2.col-md-2.col-lg-2.col-xl-2
    .col-xs-12.col-sm-8.col-md-8.col-lg-8.col-xl-8.aktualnG(style="padding-right: 0px;")
      ul#timeline
        li.work
          input#work26.radio(name="works", type="radio", checked="")
          |               
          .relative
            label(for="work26")
              | Aktualności na FB
            span.date 2019.01.09
            span.circle
          |               
          .content
            p.last
              | Wszystkie aktualności znajdziecie Państwo na naszym FB
            div
              ul.list-unstyled.list-facebook
                li.facebook
                  i.fa.fa-facebook-square 
                    a(href="https://www.facebook.com/bttalk.wro" target="_blank" title="jesteśmy tutaj!")
                      | facebook
            p.last
              | 
        | 
        li.work
          input#work25.radio(name="works", type="radio")
          |               
          .relative
            label(for="work25")
              | Happy New Year
            span.date 2019.01.09
            span.circle
          |               
          .content
            p.last
              | Najlepsze życzenia na Nowy Rok 2019, oby był ciekawszy, zdrowszy i pełen nowych wyzwań:) Happy New Year
        | 
        li.work
          input#work24.radio(name="works", type="radio")
          |               
          .relative
            label(for="work24")
              | Ruszamy..... z KURSAMI języka Angielskiego DLA DZIECI
            span.date 2018.10.08
            span.circle
          |               
          .content
            p
              | Pierwsze zajęcia: 
            div
              ul.cont2 
                li.cont Wtorek, 9.10.2018, godz. 16:15, SP nr 7,Aleja Aleksandra Brücknera 12, sala parter (klasa 1B)
                li.cont Środa, 10.10.2018, godz. 17:30, ZSzP nr 3, ul. Inflancka 13, sala 128 - 5/6 latki, - 7latki,
            p.last
              | Czekamy na WAS, do zobaczenia.
        | 
        li.work
          input#work23.radio(name="works", type="radio")
          |               
          .relative
            label(for="work23")
              | ANGIELSKI DLA DOROSŁYCH GR. A1/A2
            span.date 2018.10.01
            span.circle
          |               
          .content
            p
              | Angielski dla ZABIEGANYCH, GR. A1/A2 PIERWSZE SPOTKANIE!!!!
            div
              ul.cont2 
                li.cont WTOREK, 2.10.2018, godz.18:30-20:30, ZSzP nr 3, ul. Inflancka 13, sala nr 1
            p.last
              | Mamy jeszcze wolne miejsca.
        | 
        li.work
          input#work22.radio(name="works", type="radio")
          |               
          .relative
            label(for="work22")
              | ANGIELSKI DLA DOROSŁYCH GR. B1/B2
            span.date 2018.10.01
            span.circle
          |               
          .content
            p
              | ZACZYNAMY KURS... DLA ZABIEGANYCH GR. B1/B2
            div
              ul.cont2 
                li.cont najbliższa środa, tj. 3.10.2018, godz. 18:30-20:30, ZSzP nr 3, ul. Inflancka 13, sala nr 1
            p.last
              | Do zobaczenia:).
        | 
        li.work
          input#work21.radio(name="works", type="radio")
          |               
          .relative
            label(for="work21")
              | SPOTKANIE ORGANIZACYJNE - Angielski dla DZIECI
            span.date 2018.09.14
            span.circle
          |               
          .content
            p
              | Zapraszamy na pierwsze spotkania organizacyjne/pokazowe dla DZIECI:
            div
              ul.cont2 WTOREK, 18.09.2018 SP nr 7, ul. Brücknera 12, sala nr 1 na parterze
                li.cont 16:15 - Angielski dla 7 latków
                |                     
                li.cont 17:10 - Angielski dla 5-6 latków
                | 
            div
              ul.cont2 ŚRODA, 19.09.2018, ZSP nr 3, ul. Inflancka 13, sala nr 1 na parterze
                li.cont 16:30 - Angielski dla Przedszkolaków 5,6 lat
                |                     
                li.cont 17:10 - Angielski dla 7 latków
                | 
                li.cont 18:05 - Angielski dla Przedszkolaków 5,6 lat
                | 
            p.last
              | Serdecznie zapraszamy.
        | 
        li.work
          input#work20.radio(name="works", type="radio")
          |               
          .relative
            label(for="work20")
              | SPOTKANIE ORGANIZACYJNE - Angielski dla Dorosłych
            span.date 2018.09.14
            span.circle
          |               
          .content
            p
              | Zapraszamy na pierwsze (ogólne) spotkanie organizacyjne dla wszystkich grup
            div
              ul.cont2 CZWARTEK 20.09.2018 GODZ. 19:00;  ZSzP nr 3 , ul. Inflancka 13, sala nr 1 na parterze
            p.last
              | Zapraszamy. Do zobaczenia.
        | 
        li.work
          input#work19.radio(name="works", type="radio")
          |               
          .relative
            label(for="work19")
              | NOWA LOKALIZACJA! ANGIELSKI DLA DZIECI, Brücknera 12, SP nr 7
            span.date 2018.09.06
            span.circle
          |               
          .content
            p
              | Z ogromną przyjemnością informujemy, że ogłaszamy nabór w BTtalk na nowy semestr dla DZIECI przedszkolnych (5 i 6 lat) i 7 latków! Zajęcia będą odbywały się w SP nr 7 przy ul. Brücknera 12, wg rozpiski:
            div
              ul.cont2 WTOREK
                li.cont 16:15 - Angielski dla 7 latków
                |                     
                li.cont 17:10 - Angielski dla 5-6 latków
                |                     
            p.last
              | Serdecznie zapraszamy dzieci na dużą porcję zabawy i nauki po angielsku. ZNIŻKI dla rodzeństwa i wiele innych.
        | 
        li.work
          input#work18.radio(name="works", type="radio")
          |               
          .relative
            label(for="work18")
              | ANGIELSKI DLA DZIECI, INFLANCKA, PSIE POLE
            span.date 2018.09.06
            span.circle
          |               
          .content
            p
              | Ogłaszamy nabór w BTtalk na nowy semestr dla DZIECI! Zajęcia będą odbywały się w ZSP nr 3 przy ul. Inflanckiej 13, wg rozpiski:
            div
              ul.cont2 ŚRODA
                li.cont 16:30 - Angielski dla Przedszkolaków 5,6 lat
                |                     
                li.cont 17:10 - Angielski dla 7 latków
                |                     
                li.cont 18:05 Angielski dla Przedszkolaków 5,6 lat
                |   
            p.last
              | Serdecznie zapraszamy dzieci na dużą porcję zabawy i nauki po angielsku. ZNIŻKI DLA RODZEŃSTWA!
        | 
        li.work
          input#work17.radio(name="works", type="radio")
          |               
          .relative
            label(for="work17")
              | Angielski dla DOROSŁYCH, konwersacyjny DLA ZABIEGANYCH
            span.date 2018.09.06
            span.circle
          |               
          .content
            p
              | Ogłaszamy nabór w BTtalk na nowy semestr dla DOROSŁYCH wg rozpiski:
            div
              ul.cont2
                li.cont Angielski dla zabieganych A1/A2 – wtorek godz. 18.30-20:30, ZSP nr 3 ul. Inflancka 13
                |                     
                li.cont Angielski dla zabieganych NOWA GRUPA (poziom do ustalenia) – środa godz. 18.30-20:30, ZSP nr 3 ul. Inflancka 13
                |                     
                li.cont Angielski dla zabieganych B1/B2 – czwartek godz. 18.30-20:30, ZSP nr 3 ul. Inflancka 13
                |   
            p.last
              | Serdecznie zapraszamy wszystkich chętnych, którzy chcą do nas dołączyć.
        | 
        li.work
          input#work16.radio(name="works", type="radio")
          |               
          .relative
            label(for="work16")
              | Zapisy na kursy angielskiego w roku 2018/2019 - informacja
            span.date 2018.07.15
            span.circle
          |               
          .content
            p
              | Informacje o naszych konwersacyjnych kursach angielskiego w nowym roku szkolnym/akademickim pojawią się zarówno na naszej stronie jak i na Facebooku pod koniec sierpnia!
            p.last
              | Udanego wypoczynku!
        | 
        li.work
          input#work15.radio(name="works", type="radio")
          |               
          .relative
            label(for="work15")
              | Wakacyjne kursy angielskiego / English summer coursers!
            span.date 2018.07.15
            span.circle
          |               
          .content
            p
              | Wszystkich spragnionych wiedzy zapraszamy podczas wakacji na konwersacje indywidualne zgłoszenia tel 605-593-448 lub mailem info@bttalk.pl. Poza tym na naszej stronie na Facebooku zamieszczamy w każdy poniedziałek krótki filmik o tematyce językowej, który Wam szczerze rekomendujemy. Zapraszamy 9.00 rano w każdy poniedziałek do końca września BTtalk Monday Mornings Film Festival.
            p.last
              | 
        | 
        li.work
          input#work14.radio(name="works", type="radio")
          |               
          .relative
            label(for="work14")
              | Happy Holidays!
            span.date 2018.07.15
            span.circle
          |               
          .content
            p
              | Nieco spóźnione na naszej stronie, ale szczere życzenia udanych, słonecznych i regenerujących wakacji od BTtalk. Jednocześnie dziękujemy wszystkim za ostatni wspólnie spędzony rok na naszych konwersacyjnych kursach języka angielskiego.
            p.last
              | 
        | 
        li.work
          input#work13.radio(name="works", type="radio")
          |               
          .relative
            label(for="work13")
              | Angielski dla Przedszkolaków -  Nowa lokalizacja
            span.date 2018.04.05
            span.circle
          |               
          .content
            p
              | Od 5 kwietnia 2018, ruszamy z nową lokalizacją angielskiego dla Przedszkolaków. 
            div
              ul.cont2
                li.cont Zajęcia odbywają sie w Zespole Szkolno - Przedszkolnym nr 3, przy ul. Inflanckiej 13, sala nr 129, I piętro
                |                     
                li.cont Wtorki / 4-5 latki – godz. 17:30, sala nr 129, I piętro
                |                     
                li.cont Czwartki / 6 latki – godz. 18:10, sala nr 129, I piętro
                |                     
            p.last
              | Serdecznie zapraszamy!
        | 
        li.work
          input#work12.radio(name="works", type="radio")
          |               
          .relative
            label(for="work12")
              | 29 stycznia 2018 ANGIELSKI DLA ZABIEGANYCH – NOWY SEMESTR WŁAŚNIE RUSZA
            span.date 2018.01.29
            span.circle
          |               
          .content
            p
              | Rozkład jazdy dla dorosłych w nadchodzącym semestrze będzie wyglądał następująco:
            div
              ul.cont2
                li.cont Grupa A1 (Starter) – angielski dla zabieganych wtorki 18.15 – 20.15
                |                     
                li.cont Grupa B1 (Intermediate) – angielski dla zabieganych czwartki 18.15 – 20.15
                |                     
                li.cont Angielski dla zabieganych czyli zajęcia raz w tygodniu 2 pełne godziny
                |                     
                li.cont Gdzie? Psie Pole, Szkoła Podstawowa nr 10, ul. Inflancka 13, sala nr 1
            p.last
              | Start nowego semestru 6 lutego! Serdecznie zapraszamy zostały jeszcze wolne miejsca w obu grupach.
        | 
        li.work
          input#work11.radio(name="works", type="radio")
          |               
          .relative
            label(for="work11")
              | 3 stycznia 2018 Powoli rusza nowy semestr dla dorosłych
            span.date 2018.01.03
            span.circle
          |               
          .content
            p
              | Zaraz po feriach zimowych rusza w BTtalk nowy semestr dla dorosłych wg rozpiski:
            div
              ul.cont2
                li.cont Angielski dla zabieganych B1/B2 – wtorek 6 lutego godz. 18.15 sala nr 1 Szkoła ul. Inflancka
                |                     
                li.cont Angielski dla zabieganych NOWA GRUPA – środa 7 lutego godz. 18.15 sala nr 1 Szkoła ul. Inflancka
                |                     
                li.cont Angielski dla zabieganych A2/B1 – czwartek 8 lutego godz. 18.15 sala nr 1 Szkoła ul. Inflancka
              |                   
            p
              | Serdecznie zapraszamy wszystkich chętnych, którzy chcą do nas dołączyć. W grupie wtorkowej i czwartkowej także jest kilka wolnych miejsc.
            p.last
              | Zespół BTtalk
        | 
        li.work
          input#work10.radio(name="works", type="radio")
          |               
          .relative
            label(for="work10")
              | 22 grudnia 2017 Wesołych Świąt Bożego Narodzenia!
            span.date 2017.12.22
            span.circle
          |               
          .content
            .swieta
              p
                | Z okazji nadchodzących Świąt Bożego Narodzenia składamy wszystkim najserdeczniejsze życzenia. Niech ten radosny czas pełen spotkań z rodziną i przyjaciółmi upłynie wszystkim w atmosferze przepełnionej miłością i przyjaźnią. Jednocześnie życzymy wszystkim aby nadchodzący 2018 rok okazał się równie dobry a może i lepszy jak 2017.
              p
                | A po świętach informacje o kursach w nowym semestrze…
              |                 
              p
                | Zespół BTtalk
            .choinka-div
              p.icon-choinka
              p.christmas Happy & Good
              p.christmas2 New Year 2018!
        |  
        //- li.work
        //-   input#work09.radio(name="works", type="radio")
        //-   |               
        //-   .relative
        //-     label(for="work09")
        //-       | 25 października 2017 Kursy angielskiego w BTtalk – Psie Pole – OSTATNIE WOLNE MIEJSCA!
        //-     span.date 2017.10.25
        //-     span.circle
        //-   |               
        //-   .content
        //-     div
        //-       ul.cont2
        //-         li.cont DOROŚLI – ANGIELSKI DLA ZABIEGANYCH – INFLANCKA_13:
        //-         |                     
        //-         li.cont Grupa A2/B1 – czwartki (18.30-20.30) – 3 wolne miejsca
        //-       |                   
        //-       ul.cont2
        //-         li.cont DZIECI – ANGIELSKI DLA PRZEDSZKOLAKÓW – ZAKRZOWSKA_29:
        //-         |                     
        //-         li.cont Grupa 5 latków – wtorki (17.30-18.00) – 2 wolne miejsca
        //-         |                     
        //-         li.cont Grupa 4 latków – czwartki (17.30-18.00) – 8 wolnych miejsc
        //-         |                     
        //-         li.cont Grupa 6 latków – czwartki (18.10-18.40) – 6 wolnych miejsc
        //-     p.last
        //-       | Do grup można dołączyć w dowolnym momencie semestru. Serdecznie zapraszamy! 
        //-       a(href="mailto:info@bttalk.pl") info@bttalk.pl
        //-       |  lub 605-593-448.
        //- |             
        //- li.work
        //-   input#work08.radio(name="works", type="radio")
        //-   |               
        //-   .relative
        //-     label(for="work08") 30 września 2017 Angielski dla zabieganych – Psie Pole.
        //-     span.date 2017.09.30
        //-     span.circle
        //-   |               
        //-   .content
        //-     p
        //-       | Wychodząc naprzeciw oczekiwaniom naszych słuchaczy w nadchodzącym semestrze organizujemy 2 kursy angielskiego dla zabieganych (dorosłych), spotkania odbywają się raz w tygodniu i trwają 120minut (2 godziny).
        //-     |                 
        //-     div
        //-       ul.cont2
        //-         li.cont Poziom B1/B2 – wtorki 18.45-20.45 – start 3 października
        //-         |                     
        //-         li.cont Poziom A2 – czwartki 18.45- 20.45 – start 5 października
        //-     |                 
        //-     p Miejsce niezmienne – ZSP nr 3 Inflancka 13, sala nr 1 parter.
        //-     |                 
        //-     p.last
        //-       | Zapisy, pytania, wątpliwości na maila: 
        //-       a(href="mailto:info@bttalk.pl") info@bttalk.pl
        //-       |  lub telefonicznie 605-593-448.
        //- |             
        //- li.work
        //-   input#work07.radio(name="works", type="radio")
        //-   |               
        //-   .relative
        //-     label(for="work07")
        //-       | 30 sierpnia 2017 Nowy wstępny grafik kursów angielskiego na rok 2017/2018 już jest!
        //-     span.date 2017.08.30
        //-     span.circle
        //-   |               
        //-   .content
        //-     p
        //-       | Na naszej stronie jest już dostępny nowy, wstępny grafik kursów angielskiego dla dorosłych oraz dla dzieci. Wszelkie informacje w zakładce 
        //-       a(href="#plan-zajec") Plan zajeć 
        //-       | .
        //-     |                 
        //-     div
        //-       ul.cont2
        //-         li.cont Poziom B1/B2 – wtorki 18.45-20.45 – start 3 października
        //-         |                     
        //-         li.cont Poziom A2 – czwartki 18.45- 20.45 – start 5 października
        //-     |                 
        //-     p Miejsce niezmienne – ZSP nr 3 Inflancka 13, sala nr 1 parter.
        //-     |                 
        //-     p
        //-       | Zapisy, pytania, wątpliwości na maila: 
        //-       a(href="mailto:info@bttalk.pl") info@bttalk.pl
        //-       |  lub telefonicznie 605-593-448.
        //-     |                 
        //-     p.last Serdecznie zapraszamy i do zobaczenia we wrześniu.
        //- |             
        //- li.work
        //-   input#work06.radio(name="works", type="radio")
        //-   |               
        //-   .relative
        //-     label(for="work06") 14 sierpnia 2017 Jesienne kursy angielskiego wkrótce!
        //-     span.date 2017.08.14
        //-     span.circle
        //-   |               
        //-   .content
        //-     p
        //-       | Lato powoli dobiega końca, a my szykujemy się do jesiennego startu BTtalk. Wkrótce pojawią się informacje dotyczące kursów dla dzieci i dorosłych.
        //-     |                 
        //-     p
        //-       | Obserwujcie nas na 
        //-       a(href="https://www.bttalk.pl") www.bttalk.pl
        //-       |  oraz na 
        //-       a(href="https://www.facebook.com/bttalk.wro/") Facebooku:
        //-     |                 
        //-     p.last Szczęśliwej końcówki wakacji!
        //- |             
        //- li.work
        //-   input#work05.radio(name="works", type="radio")
        //-   |               
        //-   .relative
        //-     label(for="work05") 18 czerwca 2017 ANGIELSKI – KURSY WAKACYJNE w BTtalk
        //-     span.date 2017.06.18
        //-     span.circle
        //-   |               
        //-   .content
        //-     p.last
        //-       | W tym roku podczas wakacji planujemy raczej zajęcia indywidualne, ewentualnie w parach lub grupkach trzyosobowych. Jeśli jesteście zainteresowani, chcecie zaproponować jakiś termin, cykl zajęć itd prosimy o maila na adres: 
        //-       a(href="mailto:info@bttalk.pl") info@bttalk.pl
        //-       |  albo o telefon 605-593-448.
        //- |             
        //- li.work
        //-   input#work04.radio(name="works", type="radio")
        //-   |               
        //-   .relative
        //-     label(for="work04") 11 czerwca 2017 Wakacyjne życzenia dla wszystkich!
        //-     span.date 2017.06.11
        //-     span.circle
        //-   |               
        //-   .content
        //-     p
        //-       | Wszystkie nasze kursy dotarły to do punktu, który nazywa się „koniec roku szkolnego”. Na horyzoncie długo wyczekiwane lato. Życzymy zatem wszystkim niezwykle udanych, pełnych słońca, relaksu, niezapomnianych przygód oraz podróży wakacji. Do zobaczenia we wrześniu! Wkrótce na naszej stronie informacje o kursach wakacyjnych oraz o nowym grafiku na semestr zimowy 2017 zarówno dla dorosłych jak i dla dzieci.
        //-     |                 
        //-     p.last Tymczasem jeszcze raz udanego wypoczynku od całego zespołu BTtalk!
        //- |             
        //- li.work
        //-   input#work03.radio(name="works", type="radio")
        //-   |               
        //-   .relative
        //-     label(for="work03") 16 kwietnia 2017 Wesołego Alleluja!
        //-     span.date 2017.04.16
        //-     span.circle
        //-   |               
        //-   .content
        //-     p
        //-       | W wymownej ciszy Wielkanocnego poranka życzymy Wszystkim wielkiej radości, nadziei i wiary, wiary w niemożliwe, jako że wraz z Zmartwychwstaniem wszystko stało się nowe…
        //-     |                 
        //-     p.last BTtalk
        //- |             
        //- li.work
        //-   input#work02.radio(name="works", type="radio")
        //-   |               
        //-   .relative
        //-     label(for="work02") 14 lutego 2017 PLAN KURSÓW ANGIELSKIEGO DLA DOROSŁYCH NA NOWY SEMESTR!
        //-     span.date 2017.02.14
        //-     span.circle
        //-   |               
        //-   .content
        //-     p
        //-       | W nowym semestrze letnim 2017 będziemy prowadzili następujące kursy angielskiego dla dorosłych:
        //-     |                 
        //-     div
        //-       ul.cont2
        //-         | ul. INFLANCKA  S.P. nr 10:
        //-         li.cont
        //-           | angielski na co dzień A2/B1 (everyday English) – wtorki i czwartki 17.30 – 19.00 (ostatnie wolne miejsca);
        //-         |                     
        //-         li.cont
        //-           | angielski w pracy B1/B2 (business English) – wtorki i czwartki 19.15 – 20.45 (ostatnie wolne miejsca).
        //-       |                   
        //-       ul.cont2
        //-         | ul. ZAKRZOWSKA 29
        //-         li.cont angielski na dla zabieganych – piątki 19.00 – 21.00 (planowany, zapisy trwają)
        //-     |                 
        //-     p.last
        //-       | Serdecznie zapraszamy! W sprawie zapisów prosimy o kontakt mailowy: 
        //-       a(href="mailto:info@bttalk.pl") info@bttalk.pl
        //-       |  lub telefoniczny 605-593-448.
        //- |             
        //- li.work
        //-   input#work01.radio(name="works", type="radio")
        //-   |               
        //-   .relative
        //-     label(for="work01") PRZYPOMINAMY O SPOTKANIU ORGANIZACYJNYM – ANGIELSKI DLA DOROSŁYCH!
        //-     span.date 2017.01.31
        //-     span.circle
        //-   |               
        //-   .content
        //-     p
        //-       | #[strong UWAGA!!!] Przypominamy, że już jutro, tj, środa 1.02.2017, o godz. 20.30 w sali nr 1 w budynku szkoły podstawowej przy ul. Inflanckiej 13 odbędzie się spotkanie organizacyjne dla chętnych na kurs angielskiego dla dorosłych.
        //-     |                 
        //-     p
        //-       | W razie pytań zapraszamy do kontaktu z naszym biurem: 605-593-448, lub pod adresem mailowym: 
        //-       a(href="mailto:info@bttalk.pl") info@bttalk.pl
        //-     |                 
        //-     p Serdecznie zapraszamy!
        //-     |                 
        //-     p TRWA NABÓR na kurs języka angielskiego dla DZIECI SZKOLNYCH W WIEKU 10-12 LAT
        //-     |                 
        //-     p
        //-       | Kurs języka angielskiego dla dzieci w wieku 10-12 lat już trwa, ale jeśli Twoje dziecko „męczy się” na lekcjach szkolnych, to ten warsztat jest właśnie dla niego. Przede wszystkim uczymy  mówić w języku angielskim, poprzez gry i zabawy, poprzez spotkania w przyjaznej atmosferze, tak by język angielski w naturalny sposób został zaszczepiony w Dziecku.
        //-     |                 
        //-     p
        //-       | Jeśli tylko Twoje dziecko ma ochotę dołączyć, serdecznie zapraszamy do kontaktu: 
        //-       a(href="mailto:info@bttalk.pl") info@bttalk.pl
        //-       | , lub pod nr telefonu: 605-593-448
        //-     |                 
        //-     p Semestr letni rozpoczynamy 7.02.2017
        //-     |                 
        //-     p.last Harmonogram zajęć: Wtorki i czwartki, godz. 18.30 – 19.15
      .ludziki12
        .floating-box.icon-ludz-17
        .floating-box.icon-ludz-18
    .col-xs-12.col-sm-2.col-md-2.col-lg-2.col-xl-2.aktualnD(style="margin-top: 0px;")
    
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
    .col-xs-12.col-sm-12.col-md-12.col-lg-8.col-xl-8
      div.ludz-trzymajacy
        .floating-box2.icon-ludz-15
        .floating-box4.icon-ludz-07
        .floating-box4.icon-ludz-06
        .floating-box4.icon-ludz-11
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
