//- scripts w body
//- -------------------------------------------------------
//- optional JavaScript
//- -------------------------------------------------------
//- jQuery first, then Popper.js, then Bootstrap JS
//- include ../jade/includes/js_bootstrap.jade
script(src="js/jquery-2.1.3.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

//- -------------------------------------------------------
//- dodatkowe funkcje z innego projektu
//- -------------------------------------------------------
//- DevTips - Parallax & more
//- script(src="js/parallax-DevTips.js")

//- Kirupa Chinnathambi - Parallax
script(src="js/parallax-KC.js")

//- -------------------------------------------------------
script(src="js/change-color-background.js")
script(src="js/scroll-indicator.js")
script(src="js/google-map.js")
script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCC3sbLsFWWaBfEneEiGvCMkJdrO-r8IVU&callback=initMap')
script(src="js/scroll-reveal.js")
script(src="js/smooth-scrolling.js")

//- //- ponizsze cookie zawiera znacznik zamykajacy "span"
//- script(src="js/cookie-with-span.js")
