.jumbotron.text-center
  h1 Company
  |  
  |   
  p We specialize in blablabla
  |  
  |   
  form.form-inline
    .input-group
      input.form-control(type="email", size="50", placeholder="Email Address", required="")
      |       
      .input-group-btn
        button.btn.btn-danger(type="button") Subscribe
// Container (About Section)
.container-fluid
  .row
    .col-sm-8
      h2 About Company Page
      |       
      h4 Lorem ipsum..
      |       
      |       
      p Lorem ipsum..
      |       
      button.btn.btn-default.btn-lg Get in Touch
    |     
    .col-sm-4
      span.glyphicon.glyphicon-signal.logo
.container-fluid.bg-grey
  .row
    .col-sm-4
      span.glyphicon.glyphicon-globe.logo
    |     
    .col-sm-8
      h2 Our Values
      |       
      h4
        strong MISSION:
        |  Our mission lorem ipsum..
      |       
      |       
      p
        strong VISION:
        |  Our vision Lorem ipsum..
// Container (Services Section)
.container-fluid.text-center
  h2 SERVICES
  |   
  h4 What we offer
  |   
  br
  |   
  .row
    .col-sm-4
      span.glyphicon.glyphicon-off.logo-small
      |       
      h4 POWER
      |       
      p Lorem ipsum dolor sit amet..
    |     
    .col-sm-4
      span.glyphicon.glyphicon-heart.logo-small
      |       
      h4 LOVE
      |       
      p Lorem ipsum dolor sit amet..
    |     
    .col-sm-4
      span.glyphicon.glyphicon-lock.logo-small
      |       
      h4 JOB DONE
      |       
      p Lorem ipsum dolor sit amet..
  |   
  br
  br
  |   
  .row
    .col-sm-4
      span.glyphicon.glyphicon-leaf.logo-small
      |       
      h4 GREEN
      |       
      p Lorem ipsum dolor sit amet..
    |     
    .col-sm-4
      span.glyphicon.glyphicon-certificate.logo-small
      |       
      h4 CERTIFIED
      |       
      p Lorem ipsum dolor sit amet..
    |     
    .col-sm-4
      span.glyphicon.glyphicon-wrench.logo-small
      |       
      h4(style="color:#303030;") HARD WORK
      |       
      p Lorem ipsum dolor sit amet..
// Container (Portfolio Section)
.container-fluid.text-center.bg-grey
  h2 Portfolio
  br
  |   
  h4 What we have created
  |   
  .row.text-center
    .col-sm-4
      .thumbnail
        img(src="paris.jpg", alt="Paris", width="400", height="300")
        |         
        p
          strong Paris
        |         
        p Yes, we built Paris
    |     
    .col-sm-4
      .thumbnail
        img(src="newyork.jpg", alt="New York", width="400", height="300")
        |         
        p
          strong New York
        |         
        p We built New York
    |     
    .col-sm-4
      .thumbnail
        img(src="sanfran.jpg", alt="San Francisco", width="400", height="300")
        |         
        p
          strong San Francisco
        |         
        p Yes, San Fran is ours
  |   
  h2 What our customers say
  |   
  #myCarousel.carousel.slide.text-center(data-ride="carousel")
    // Indicators
    ol.carousel-indicators
      li.active(data-target="#myCarousel", data-slide-to="0")
      |       
      li(data-target="#myCarousel", data-slide-to="1")
      |       
      li(data-target="#myCarousel", data-slide-to="2")
    // Wrapper for slides
    .carousel-inner(role="listbox")
      .item.active
        h4
          | "This company is the best. I am so happy with the result!"
          br
          span Michael Roe, Vice President, Comment Box
      |       
      .item
        h4
          | "One word... WOW!!"
          br
          span John Doe, Salesman, Rep Inc
      |       
      .item
        h4
          | "Could I... BE any more happy with this company?"
          br
          span Chandler Bing, Actor, FriendsAlot
    // Left and right controls
    a.left.carousel-control(href="#myCarousel", role="button", data-slide="prev")
      span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
      |       
      span.sr-only Previous
    |     
    a.right.carousel-control(href="#myCarousel", role="button", data-slide="next")
      span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
      |       
      span.sr-only Next
