section#cookie-warn
  p
    | Nasza #[strong strona internetowa używa plików cookies  w celach statystycznych oraz funkcjonalnych]. Dzięki nim możemy indywidualnie dostosować stronę do potrzeb odwiedzających. Można zaakceptować pliki cookies albo można je wyłączyć w przeglądarce, dzięki czemu nie będą zbierane żadne informacje. 
    a#close-cookie-warn(href="javascript:void(0);") x
    //- span.close(href="javascript:void(0);") ×

//- section#cookie-warn
//-   p
//-     strong Strona wykorzystuje pliki cookies.
//-     |     Informacje uzyskane za pomocą cookies zbierane są głównie w celach statystycznych. 
//-     |     Można zablokować ich zapisywanie zmieniając ustawienia przeglądarki. 
//-     strong
//-       a#close-cookie-warn(href='javascript:void(0);') Zamknij
