.container-fluid#section3
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
      .navigation(style="padding-top: 22px;")
        span
          a(href="#lektorzy", title="W dół")
            i.fa.fa-arrow-circle-down.navigation-icon
        span
          a(href="#idea", title="W górę")
            i.fa.fa-arrow-circle-up.navigation-icon
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
    .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-4#dlaczego-my(style="padding-top: 20px;")
      h2 Dlaczego My?
      |             
      ul.dlaczego-my
        li Przede wszystkim chcemy nauczyć Cię mówić.
        |               
        li
          | Główny nacisk kładziemy na umiejętności komunikacyjne, wprowadzając wiedzę z zakresu gramatyki tylko w takim stopniu, jaki konieczny jest do porozumiewania się.
        |               
        li Oferujemy bardzo szeroką gamę przeróżnych ćwiczeń konwersacyjnych.
        |               
        li
          | Według nas silence is not golden; wyjaśnienie w akapicie: 
          a(href="#nasze-atuty") Nasze atuty.
        |               
        li
          | Bardzo skrupulatnie dobieramy słuchaczy, tak aby wszyscy prezentowali zbliżony poziom w ramach danego kursu.
        |               
        li
          | Gwarantujemy optymalną liczbę słuchaczy w grupie (maksymalnie 8 osób), po to by każdy miał szansę wielokrotnie się wypowiedzieć i – co równie ważne – miał szansę być usłyszanym.
        |               
        li
          | Chcemy, aby umiejętności były doskonalone przede wszystkim podczas naszych zajęć.
        |               
        li Bardzo świadomie wybieramy tematy spotkań, tak aby dotyczyły sytuacji życiowych.
        |               
        li
          | Wykorzystując wiedzę i doświadczenie naszych lektorów, uczymy języka nie tylko poprawnego i książkowego, ale także aktualnego, żywego i prawdziwego.
        |               
        li Panuje u nas bardzo przyjazna, wesoła i bezstresowa atmosfera nauki.
        |               
        li Lubimy dzielić się naszą wiedzą.
        |               
        li Bardzo nam zależy na Twoim sukcesie.
        |               
        li i…
        |               
        li W gruncie rzeczy jesteśmy fajni – po prostu.
    
      //- .ludziki9
      //-   .icon-ludz-01.wieksze
      //-   .icon-ludz-02.wieksze
      //-   .icon-ludz-03.wieksze
    .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-4#nasze-atuty(style="padding-top: 20px;")
      h2 Nasze atuty
      p(style="margin-bottom: 15px;") W naszej szkole chcemy przede wszystkim nauczyć Cię mówić, a także słuchać i rozumieć, rozumieć w sposób intuicyjny nawet gramatykę. Jednak główny #[mark nacisk] kładziemy #[mark na mówienie], bo w końcu o to w tym wszystkim chodzi – to speak English fluently. Aby to osiągnąć, opracowaliśmy nasz autorski program, który w skrócie opisujemy tak:

      #accordion11.panel-group
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion11", data-target="#collapse101") Elastyczny i praktyczny program
          |       
          //- #collapse101.panel-collapse.collapse.in
          #collapse101.panel-collapse.collapse.in
            .panel-body
              | Program ramowy zawsze dopasowujemy do potrzeb poszczególnych grup i na bieżąco modyfikujemy. Omawiamy w gronie lektorów postępy słuchaczy ich trudności a także zgłaszane przez nich problemy czy prośby. Na tej podstawie wprowadzane są modyfikacje do programu indywidualnie dla każdej z grup. Ważną cechą oferowanych przez nas kursów jest ich użyteczność. Program opracowujemy nie tylko w oparciu o wiedzę językową, ale także o nasze praktyczne, nabyte za granicą, umiejętności i doświadczenia. Wiemy nie tylko jak mówić poprawnie, ale również jak mówić zrozumiale i naturalnie. Co niezwykle ważne, staramy się również zaznajamiać naszych słuchaczy z kulturą języka angielskiego oraz kulturą brytyjską w ogóle, aby bardziej poprawnie i świadomie operowali różnymi zwrotami. Prowadzimy kursy na wszystkich poziomach: od odpowiednich dla osób, które mówią bardzo dobrze i nie chcą tracić kontaktu z językiem, do przeznaczonych dla uczestników, którzy mówią niewiele lub w ogóle. Osoby początkujące jesteśmy w stanie w stosunkowo krótkim czasie nauczyć, jak wyrazić w języku angielskim prostymi zdaniami każdą swoją myśl i potrzebę.
        |           
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion11", data-target="#collapse102") Małe grupy
          |       
          #collapse102.panel-collapse.collapse
            .panel-body
              | #[mark Grupy dla Dorosłych:]
              | Gwarantujemy Wam optymalną liczbę słuchaczy w grupie (maksymalnie 10 osób), po to aby każdy miał szansę wielokrotnie się wypowiedzieć i – co równie ważne – miał szansę być usłyszanym. Zapewnia to bardzo duży komfort słuchaczom i pozwala stworzyć bardzo kameralną, przyjemną atmosferę.
              br
              | #[mark Grupy dla Dzieci:]
              | Dziecięce grupy  sa odrobine wieksze (maksymalnie 10-12 osób), ze względu na częstą absencje dzieci. Dzieci lepiej uczą się w grupie, staramy się zapewnić  Im najlepsze warunki do nauki poprzez zabawę.

        |     
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion11", data-target="#collapse103") Szeroka gama kursów
          |       
          #collapse103.panel-collapse.collapse
            .panel-body
              | Oferujemy szeroką gamę kursów przeznaczonych dla dorosłych i młodzieży. Szczególnie polecamy zajęcia dla początkujących oraz dla średniozaawansowanych ze szczególnym uwzględnieniem komunikacji w środowisku zawodowym. Szczegóły naszej oferty prezentujemy w akapicie: 
              a(href="#kursy") Kursy.
        |     
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion11", data-target="#collapse104") Wszystkie kursy są konwersacyjne
          |       
          #collapse104.panel-collapse.collapse
            .panel-body
              | Szkołę BTtalk wyróżnia przede wszystkim autorski program, w którym największy nacisk położony jest na ćwiczenie mówienia, bez zagłębiania się w zawiłości gramatyczne. Oczywiście uczymy gramatyki, jednak w takim zakresie i w taki sposób, aby wspomóc główny cel, jakim jest płynne porozumiewanie się w języku angielskim. Skupiamy się bardziej na praktycznych umiejętnościach niż na wiedzy, bardziej na używaniu języka niż na nauce o nim.
        |     
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion11", data-target="#collapse105") Wszystkie kursy są warsztatowe
          |       
          #collapse105.panel-collapse.collapse
            .panel-body
              | Zajęcia są bardzo zróżnicowane. Wiele zadań polega na odgrywaniu różnych scen z życia czy pracy (tzw. roleplays), rozmowach na krótkie i konkretne tematy. Uczymy z prawdziwą pasją. Na naszych zajęciach nikt się nie nudzi, prowadzimy je w sposób atrakcyjny i ciekawy.
        |     
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion11", data-target="#collapse106") Silence is not golden
          |       
          #collapse106.panel-collapse.collapse
            .panel-body
              | Zgodnie z tą zasadą tak prowadzimy zajęcia, aby słuchacze maksymalnie wykorzystali każdą minutę. Poprzez różne ćwiczenia staramy się, aby uczestnicy zajęć jak najwięcej mówili podczas lekcji, gdyż czas spędzony w ciszy podczas nauki języka jest według nas czasem straconym.
        |     
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion11", data-target="#collapse107") The business we speak
          |       
          #collapse107.panel-collapse.collapse
            .panel-body
              | Staramy się nauczyć naszych słuchaczy praktycznego wykorzystania języka, tak aby w sytuacji większego stresu umieć szybko reagować, myśleć i odpowiadać na zadane pytania. Jako że rozmowa w obcym języku wiąże się z większą dawką stresu niż rozmowa w języku ojczystym, to zasadę tę można z powodzeniem stosować nie tylko w sytuacjach związanych z pracą.
        |     
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion11", data-target="#collapse108") Lokalizacja blisko klienta
          |       
          #collapse108.panel-collapse.collapse
            .panel-body
              | Kolejnym naszym atutem jest lokalizacja czyli Wrocław - Psie Pole. Dzięki temu nasi słuchacze z północnej części miasta mogą uczyć się blisko domu, nie tracąc czasu na dojazdy. Zajęcia odbywają się, w salach przystosowanych do nauki języków obcych.
        |     
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2

    //- .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
    //-   #myCarousel3.carousel.slide.opinie(data-ride="carousel", data-interval="9000")
    //-     ol.carousel-indicators
    //-       li.active(data-target="#myCarousel3", data-slide-to="0")
    //-       |       
    //-       li(data-target="#myCarousel3", data-slide-to="1")
    //-       |       
    //-       li(data-target="#myCarousel3", data-slide-to="2")
    //-       |       
    //-       li(data-target="#myCarousel3", data-slide-to="3")
    //-       |       
    //-       li(data-target="#myCarousel3", data-slide-to="4")
    //-       |       
    //-       li(data-target="#myCarousel3", data-slide-to="5")
    //-       |       
    //-       //- li(data-target="#myCarousel", data-slide-to="6")
    //-     // Wrapper for slides
    //-     .carousel-inner.bez-linii
    //-       .item.active
    //-         div(style="width:100%; height: 200px;")
    //-         |         
    //-         .carousel-caption
    //-           h3 Zbyszko z Bogdanca
    //-           |           
    //-           p.carousel_text Pieniądze zostały wpłacone na państwa konto poprzez przelew.Jeśli jest to działanie celowe to nie wróżę państwu świetlanej przyszłości w interesach. Mam nadzieje że to jakieś niedopatrzenie. Czas oczekiwania na sweterek jest kur....o długi i myślę że w momencie kiedy go wylicytowałem nie urosła jeszcze bawełna z którego miał być zrobiony. Jestem cierpliwy,ale nie mam zamiaru dłużej czekać aż dzieci w Chinach go uszyją. Proszę szybko o odpowiedź lub natychmiastowy zwrot pieniędzy za towar.
    //-       |       
    //-       .item
    //-         div(style="width:100%; height: 200px;")
    //-         //- img(src="img/slide01-1170x500.png", alt="Scotland", style="width:100%;")
    //-         |         
    //-         .carousel-caption
    //-           h3 Jadzka z Mickiewicza
    //-           |           
    //-           p.carousel_text Nikt mi nie kadził tak, jak te kadzidła. Zapaliłam 150szt jednocześnie. Władkowa lewituje,krowy mruczą mantry, chłopy spod geesu zaczynają budować Tadż Mahal II. Zapach opium sprawił, że za stertą gnoju zobaczyłam pasmo Karakorum.
    //-       |       
    //-       .item
    //-         div(style="width:100%; height: 200px;")
    //-         //- img(src="img/slide01-1170x500.png", alt="Scotland", style="width:100%;")
    //-         |         
    //-         .carousel-caption
    //-           h3 Konrad z Walenrod
    //-           |           
    //-           p.carousel_text Pasta rewelka.Maria,córka Teodora z drugiego końca wioski,wypolerowała cojnes psu,temu od Wojtka brata. Blask i połysk,że w polaroidach teraz chodzić muszą. Pleban chce,żeby mu dzwon wypolerować,ale to już zadanie dla kościelnej..
    //-       |       
    //-       .item
    //-         div(style="width:100%; height: 200px;")
    //-         //- img(src="img/slide01-1170x500.png", alt="Scotland", style="width:100%;")
    //-         |         
    //-         .carousel-caption
    //-           h3 Anonimowa Szlachcianka
    //-           |           
    //-           p.carousel_text Jak na taki towar na zamku Neuschwanstein jestem dosc zadowolna. Widac, ze mialam do czynienia z kupcem z dalekiego kraju, dzieki czemu mogłam dokupic do czapki wysokiej jakosc kawałki Tajwańskiej gumy . Polecam /// Szlachcianka z Linderhoffu
    //-       |       
    //-       .item
    //-         div(style="width:100%; height: 200px;")
    //-         //- img(src="img/slide01-1170x500.png", alt="Scotland", style="width:100%;")
    //-         |         
    //-         .carousel-caption
    //-           h3 Maryska i Janusz ze Slaska
    //-           |           
    //-           p.carousel_text Wprost cudowna ostrzałka.Naostrzyłem kosę,scyzoryk,nożyczki,wykałaczki i haki na miecznika!Teraz ostrzę zęby. Psu wyostrzył się węch,a kobicie mojej wyostrzył się słuch. Miesiąc styczeń,miesiącem cudów! Dobra,lecę,bo krowa się ciele.
    //-       |       
    //-       .item
    //-         div(style="width:100%; height: 200px;")
    //-         //- img(src="img/slide01-1170x500.png", alt="Scotland", style="width:100%;")
    //-         |         
    //-         .carousel-caption
    //-           h3 Pan Zygmunt z Radia Maryja
    //-           |           
    //-           p.carousel_text Ty fiucie! Nie mogles mi przypomnieć !! Myślisz że ja mam czas pamietać o 1,57 zł. Na email nic nie dostałem!! Mozna bylo wykonać 1 telefon i miałbyś pieniądze w ciągu 5 minut na koncie! Ty mi zespsules reputacje - ja się zrewanzuje.
    //-       |       
