//- Menedżer tagów Google (najwyzej w witrynie)
// Google Tag Manager

// End Google Tag Manager


title BTtalk - szkoła języka angielskiego we Wrocławiu
//- Required meta tags
//- meta(name="google-site-verification" content="qSLykemzsCtb9BrCSmPbunei0x3PGnc3OT34VEbCeCQ")
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="title" content="BTtalk szkoła języka angielskiego we Wrocławiu, na Psim Polu")
meta(name="description" content="BTtalk - trochę inna szkoła językowa we Wrocławiu, na Psim-Polu, kursy konwersacyjne dla dorosłych i dla dzieci, kursy dla firm, konwersacje indywidualne")
meta(name="keywords" content="szkoła językowa Wrocław, szkoły językowe Wrocław, szkoła językowa Wrocław angielski, szkoła językowa we Wrocławiu, szkoła językowa, szkoła językowa Psie Pole, szkoła językowa Wrocław Psie Pole, kursy językowe Wrocław")
meta(name="language" content="PL")
meta(name="copyright" content="Copyright (c) 2018 BTtalk")


//- Bootstrap core CSS
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

//- Additional js scripts
//- 1.
script(src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js')

//- fonts
link(href="https://fonts.googleapis.com/css?family=Sacramento", rel="stylesheet")
link(rel="stylesheet" type="text/css" href="webfonts/cloudy_with_a_chance_of_love/konwersja/cloudy-with-a-chance-of-love.css")
//- favicon
link(rel="shortcut icon" type="image/x-icon" href="img/buttons/new_BTtalk_icon.ico")
//- icons
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
//- Custom styles
//- !!!wlasne style maja wyzszy priorytet dlatego ze sa umieszczone za stylami Bootstrapa
link(rel="stylesheet", href="css/styles.css")

//- autoScrollTo nie dziala uniwersalnie na wszystkie kombinacje
//- script(src="js/autoScrollTo.js")

//- nie zapisujemy JS scryptów w naglowku: head
//- ale Google Analytics chce być zapisane w naglowku
//- -------------------------------------------------------
