.container-fluid#section1
  .row#idea
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
      .navigation
        span
          a(href="#dlaczego-my", title="W dół")
            i.fa.fa-arrow-circle-down.navigation-icon
        span
          a(href="#start", title="W górę")
            i.fa.fa-arrow-circle-up.navigation-icon
            
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
    .col-xs-12.col-sm-12.col-md-12.col-lg-8.col-xl-8
      .text-center
        h2 Idea
      p.lead Idea BTtalk zrodziła się z obserwacji i z buntu…
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
    
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
    .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-4
      .akapit1
        p #[mark Z obserwacji] jak nasi znajomi oraz jak nieznajomi radzą sobie z językiem angielskim w praktyce. Nakreśliliśmy w ten sposób pewien wspólny zbiór problemów z jakimi się wszyscy borykają. Zauważyliśmy, że obcy sobie ludzie zmagają się z tymi samymi trudnościami, które dotyczą głównie mówienia po angielsku.
        p(style="margin-bottom: 0;") Dlatego w naszej szkole chcemy przede wszystkim nauczyć Cię mówić, a także słuchać i rozumieć, rozumieć w sposób intuicyjny nawet gramatykę. Jednak główny nacisk kładziemy na mówienie, bo w końcu o to w tym wszystkim chodzi – to speak English fluently. Aby to osiągnąć, opracowaliśmy nasz autorski program, oparty na konwersacyjnych, warsztatowych metodach, gdzie w małych, maksymalnie 8 osobowych grupach słuchacze niezwykle aktywnie uczestniczą w zajęciach. Szczegóły na temat naszych założeń programowych opisujemy w akapicie: 
          a(href="#nasze-atuty") Nasze atuty.
    .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-4
      .ludziki11
        .floating-box.icon-ludz-01
        .floating-box.icon-ludz-04
        .floating-box.icon-ludz-02
        .floating-box.icon-ludz-08
        .floating-box.icon-ludz-05
        .floating-box.icon-ludz-06
        .floating-box.icon-ludz-07
        .floating-box.icon-ludz-16
      .akapit2
        p #[mark Bunt] nasz dotyczy takich metod uczenia języka obcego, które polegają przede wszystkim na analizowaniu zawartości książki oraz zeszytu ćwiczeń, gdzie większość czasu wszyscy spędzają w ciszy… I choć cisza bardzo często jest piękna i pozwala nam przeżyć refleksyjne momenty, to jednak nie sprzyja w żadnym stopniu nauce mówienia w obcym języku.
        p(style="margin-bottom: 0;") Dlatego w BTtalk zgodnie z jedną z naszych zasad „silence is not golden” staramy się maksymalnie wykorzystać czas na zajęciach i pobudzić słuchaczy do bardzo aktywnego uczestnictwa. Służy temu również bardzo skrupulatne tworzenie grup i dobór do nich kandydatów, tak aby wszyscy byli na bardzo podobnym poziomie komunikacyjnym. Chodzi o to, aby każdy czuł się komfortowo, co bardzo pomaga w zrobieniu postępów, ponieważ wierzymy, że krok naprzód robimy szybciej w przyjaznej, bezstresowej i radosnej atmosferze.
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
    
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
    .col-xs-12.col-sm-12.col-md-12.col-lg-8.col-xl-8
      .akapit3
        p Jeśli szukasz zajęć pełnych humoru, ciekawych ćwiczeń i gier językowych, zajęć podczas których naprawdę dużo się mówi to serdecznie zapraszamy na nasze kursy grupowe lub indywidualne.
        p(style="margin-bottom: 0;") Pierwsza lekcja jest u nas zawsze bez zobowiązań. Można przyjść, spróbować, zobaczyć jak jest i dopiero wtedy podjąć decyzję.
      //- .ludziki9
      //-   .icon-ludz-10.wieksze
      //-   .icon-ludz-12.wieksze
      //-   .icon-ludz-11.wieksze
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2

    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
    .col-xs-12.col-sm-12.col-md-12.col-lg-8.col-xl-8
      div.hide-people(style="width: 100%; font-size: 400px; white-space: nowrap; overflow: hidden; letter-spacing: -70px; line-height: .1; margin-top: -50px;")
        .floating-box3.icon-ludz-04
        .floating-box3.icon-ludz-02
        .floating-box3.icon-ludz-11
        .floating-box3.icon-ludz-03
        .floating-box3.icon-ludz-01
        .floating-box3.icon-ludz-05
        .floating-box3.icon-ludz-06
        .floating-box3.icon-ludz-07
        .floating-box3.icon-ludz-13
        .floating-box3.icon-ludz-10

        //- .floating-box2.icon-ludz-14
        //- .floating-box2.icon-ludz-15
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
