.container-fluid#section6
  .row#kursy
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
      .navigation
        span
          a(href="#aktualnosci", title="W dół")
            i.fa.fa-arrow-circle-down.navigation-icon
        span
          a(href="#oferta", title="W górę")
            i.fa.fa-arrow-circle-up.navigation-icon
    .text-center
      //- img.backgroundK(src="img/kursy-background.png")
      h2
        i.fa.fa-mortar-board
        |  Kursy
    .text-center2(style="position: absolute; left: 0;")
      h2.backgroundK
        | Kursy
      |     
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
    .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-4
      h3 Kursy: Angielski w pracy
      |   
      #accordion1.panel-group
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion1", data-target="#collapse1") Angielski w pracy
          |       
          #collapse1.panel-collapse.collapse
            .panel-body
              | Pracujesz np. jako menadżer, na co dzień posługujesz się angielskim i chcesz podnieść swój poziom? Czujesz, że niby wszystko rozumiesz, ale nie masz płynności w mówieniu? Chciałbyś poszerzyć słownictwo i zwroty w zakresie business English? A może używasz angielskiego w pracy sporadycznie i chciałbyś mieć z językiem stały kontakt, tak aby nie zapomnieć tego, co już umiesz? Szukasz pracy i większość ogłoszeń w Twoim zawodzie jest po angielsku? Jeśli tak, to zdecydowanie kurs dla Ciebie. Będziemy przede wszystkim mówić, inscenizować scenki z pracy, przygotowywać się do konferencji, spotkań i rozmów o pracę po angielsku, ale także poszerzać słownictwo i dużo słuchać. Będziemy też od czasu do czasu szlifować formę pisaną (listy formalne i nieformalne, e-maile, listy motywacyjne, CV i inne)
              | Jak widać ćwiczymy z naszymi słuchaczami umiejętności potrzebne zarówno przy szukaniu pracy (pisanie CV i listów motywacyjnych, autoprezentacja na rozmowie kwalifikacyjnej), jak i w trakcie jej wykonywania (dyskusje, rozwiązywanie problemów, uczestnictwo w spotkaniach).
              | Kursy „angielski w pracy” obfitują w wiele praktycznych ćwiczeń, ponieważ w środowisku zawodowym (w przypadku business English) trzeba szybko myśleć i jeszcze szybciej odpowiadać na pytania bądź co gorsza zarzuty…
        |     
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion1", data-target="#collapse2") Angielski w pracy: pre-intermediate (A2)
          |       
          #collapse2.panel-collapse.collapse
            .panel-body
              | Na tym poziomie staramy się przede wszystkim poprawić komunikację, nadać jej wreszcie płynność poprzez stopniowe wprowadzanie różnych typowych zwrotów używanych w języku angielskim. Opanowanie zwrotów pozwala skrócić czas, jaki poświęcamy w głowie na dobór odpowiednich słów zwłaszcza na początku naszej rozmowy w każdym niemal języku obcym. Poznajemy oczywiście bardziej rozszerzone słownictwo związane ze środowiskiem pracy i nie tylko. Dodatkowo uczymy się podstawowych zasad posługiwania się czasami i ich sprawnym doborze do konkretnej wypowiedzi. Poznajemy niektóre podstawowe pojęcia gramatyczne. Pojawiają się pierwsze artykuły do przeczytania w domu oraz scenki typu role-play.
        |     
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion1", data-target="#collapse3") Angielski w pracy: intermediate (B1)
          |       
          #collapse3.panel-collapse.collapse
            .panel-body
              | Jeśli znamy już słownictwo dotyczące szeroko pojętego środowiska pracy i dodatkowo mamy opanowane przynajmniej niektóre zwroty językowe powszechnie stosowane w business English to staramy się przede wszystkim nadać naszej wypowiedzi odpowiedniej płynności i szybkości. Służą temu liczne gry i zabawy typu role-play, gdzie trzeba szybko myśleć i jeszcze szybciej odpowiadać na pytania. Na tym poziomie poza tym bardzo duży nacisk położony jest na naukę przeróżnych zwrotów (używanych w dyskusjach, negocjacjach itd.) oraz czasów. Ćwiczymy przede wszystkim ich sprawne używanie w mowie w różnych sytuacjach. Poznajemy nowe zagadnienia gramatyczne szczególnie przydatne w business English, jak zdania czasowe (z when) czy conditionals I i II niezwykle przydatne w negocjacjach biznesowych. Rozszerzamy słownictwo związane ze środowiskiem pracy, ale także uczymy się opowiadać o sobie, swoim charakterze, czasie wolnym i zainteresowaniach, co z kolei często może się nam przydać w tzw. rozmowach kuluarowych lub podczas lunchu. Zaczynamy tworzyć nasze pierwsze opowieści (tzw telling stories). Kluczowymi tematami z business English są zagadnienia z obszaru rekrutacji. Uczymy się jak czytać i tworzyć oferty pracy (job offers) zapoznajemy się z tajnikami pisania bardzo skutecznych listów motywacyjnych (covering letter & formal letter), poznajemy sposoby tworzenia CV po angielsku i oczywiście mierzymy się z tematyką rozmowy kwalifikacyjnej (interview) – w tym, celu poznajemy sposoby przygotowania się do interview (interview tips and questions) i nie tylko.
        |     
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion1", data-target="#collapse4") Angielski w pracy: upper-intermediate (B2)
          |       
          #collapse4.panel-collapse.collapse
            .panel-body
              | Na poziomie upper-intermediate przede wszystkim rozmawiamy i poszerzamy słownictwo dotyczące środowiska pracy poprzez czytanie przeróżnych artykułów i artykulików, oglądanie filmików, ćwiczenia słownikowe z business English. Dodatkowo utrwalamy znane już słownictwo i zwroty poprzez udział w dyskusjach i licznych zabawach typu role-play, którą mają nas nauczyć jeszcze szybszego myślenia i reagowania. Poza tym omawiamy i inscenizujemy różne sytuacje biznesowe, z którymi często stykamy się w pracy, takie jak np. prowadzenie rozmów przez telefon, udział w spotkaniach, prowadzenie spotkań, negocjacje, dyskusje, i wiele innych. Uczymy się przy okazji wielu niezwykle przydatnych słów i zwrotów. Zdarzają się też oczywiście tzw. tematy na rozluźnienie, czyli nie związane z pracą.
              | Na życzenie grupy możemy także poruszyć wybrane bądź wszystkie zagadnienia z obszaru rekrutacji, szerzej opisane w zakładce „angielski w pracy intermediate”, takie jak: job offers, covering letters, CV czy interview.
        |     
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion1", data-target="#collapse5") Angielski w pracy: advanced (C1)
          |       
          #collapse5.panel-collapse.collapse
            .panel-body
              | „Angielski w pracy advanced” to kontynuacja kursu „Angielski w pracy upper-intermediate”, gdzie również omawiamy i inscenizujemy różne sytuacje, z jaki możemy mieć do czynienia w pracy, jak phone calls, difficult negotiations, review – talking about pay-rise i wiele, wiele innych, ucząc się przy tym wielu przydatnych słów i zwrotów.
              | Kurs polega głównie na konwersacjach, dyskusjach, spieraniu się, omawianiu artykułów bądź filmów. Dyskutujemy na tematy nie tylko biznesowe. Szlifujemy prędkość wypowiedzi, rytm, wymowę i nierzadko nawet akcent. Kursy na tym poziomie charakteryzuję się dużą dynamiką i energią, choć jak zawsze podczas konwersacji wiele zależy też od samych uczestników.
        |     
    .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-4
      h3.kurs3 Kursy: Angielski na co dzień
      |   
      #accordion2.panel-group
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion2", data-target="#collapse21") Angielski na co dzień
          |       
          #collapse21.panel-collapse.collapse.in
            .panel-body
              | Niekoniecznie interesuje Cię Business English? Jednak często podróżujesz za granicę, może masz rodzinę na Wyspach Brytyjskich lub po prostu chciałbyś poszerzyć słownictwo, zwroty, dotyczące życia codziennego? Zależy Ci po prostu na swobodnej konwersacji? Chciałbyś lepiej mówić w związku z czekającą Cię długą podróżą?
              | Zapraszamy w takim razie na "Angielski na co dzień". Będziemy podobnie jak w przypadku wszystkich innych naszych kursów konwersacyjnych przede wszystkim mówić, inscenizować scenki z życia codziennego,  rozmawiać o zainteresowaniach, podróżach, itd. Przy okazji poszerzymy słownictwo i dotkniemy trochę najbardziej istotnych problemów gramatycznych.
              | Nie zabraknie oczywiście gier i zabaw językowych. 
        |     
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion2", data-target="#collapse22") Angielski na co dzień: pre-intermediate (A2)
          |       
          #collapse22.panel-collapse.collapse
            .panel-body
              | Na tym poziomie, podobnie jak w przypadku kursu „angielski w pracy” staramy się przede wszystkim poprawić komunikację i nadać jej większą płynność poprzez stopniowe wprowadzanie różnych typowych zwrotów używanych w języku angielskim. Opanowanie zwrotów pozwala skrócić czas, jaki poświęcamy w głowie na dobór odpowiednich słów zwłaszcza na początku naszej rozmowy w każdym niemal języku obcym. Na poziomie pre-intermediate pracujemy też nad rytmem i szybkością wypowiedzi i zdecydowanie większy nacisk kładziemy na wymowę, która w języku angielskim jest ważniejsza od gramatyki. Wprowadzamy poszerzone bloki tematyczne związane z sytuacjami z życia codziennego np. lotnisko, restauracja, hotel, awaria, lekarz, podróże, hobby, moja praca itd. Pojawiają się pierwsze poważniejsze zabawy typu role-play.
        |     
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion2", data-target="#collapse23") Angielski na co dzień: intermediate (B1)
          |       
          #collapse23.panel-collapse.collapse
            .panel-body
              | Jeśli znamy już słownictwo dotyczące zagadnień z życia codziennego i dodatkowo mamy opanowane przynajmniej niektóre zwroty językowe to staramy się przede wszystkim nadać naszej wypowiedzi odpowiedniej płynności i szybkości. Służą temu liczne gry i zabawy typu role-play, gdzie trzeba szybko myśleć i jeszcze szybciej odpowiadać na pytania. Na tym poziomie poza tym bardzo duży nacisk położony jest na naukę przeróżnych zwrotów oraz czasów. Ćwiczymy przede wszystkim ich sprawne używanie w mowie w różnych sytuacjach. Zaczynamy tworzyć nasze pierwsze opowieści (tzw telling stories).
        |     
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion2", data-target="#collapse24") Angielski na co dzień: upper-intermediate (B2)
          |       
          #collapse24.panel-collapse.collapse
            .panel-body
              | Na poziomie upper-intermediate przede wszystkim rozmawiamy i poszerzamy słownictwo dotyczące życia codziennego a czasami także środowiska pracy. Odbywa się to poprzez czytanie przeróżnych artykułów i artykulików, oglądanie filmików, ćwiczenia słownikowe itd. Dodatkowo utrwalamy znane już słownictwo i zwroty poprzez udział w dyskusjach i licznych zabawach typu role-play, które na tym poziomie są już na tyle skomplikowane, że wymagają dość sporego wstępu i zapoznania się z tzw opisem sytuacji (background). Zabawy te powinny nas nauczyć jeszcze szybszego myślenia i reagowania. Bardzo często bierzemy udział w dyskusjach, które dotyczą krótkich filmów oglądanych na zajęciach, bądź artykułów, które należy szybko „przeskanować”. Chodzi o tzw dyskusje na żywo. Oprócz tego jest szereg wypowiedzi do przygotowania jako zadanie domowe na następne zajęcia. Polecane artykuły są zdecydowanie trudniejsze i dłuższe. Szlifujemy czasy i poszerzamy wiedzę gramatyczną o nowe przydatne zagadnienia w mowie.
        |     
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion2", data-target="#collapse25") Angielski na co dzień: advanced (C1)
          |       
          #collapse25.panel-collapse.collapse
            .panel-body
              | „Angielski na co dzień advanced” to przede wszystkim rozmowa, rozmowa i jeszcze raz rozmowa, na forum, w parach, trójkach itd.„Angielski na co dzień advanced” to przede wszystkim rozmowa, rozmowa i jeszcze raz rozmowa, na forum, w parach, trójkach itd.
              | Kurs polega głównie na konwersacjach, dyskusjach, spieraniu się, omawianiu artykułów bądź filmów. Dyskutujemy na przeróżne tematy, również biznesowe. Szlifujemy prędkość wypowiedzi, rytm, wymowę i oczywiście akcent. Kursy na tym poziomie charakteryzuję się dużą dynamiką i energią i jak to często u nas bywa humorem.
          |   
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
    
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
    .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-4
      h3 Kursy: Angielski dla zabieganych
      |   
      #accordion6.panel-group
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion6", data-target="#collapse61") Angielski dla zabieganych
          |       
          #collapse61.panel-collapse.collapse
            .panel-body
              | Angielski dla zabieganych to kurs skierowany dla tych, którzy mają czas tylko raz w tygodniu. Dlatego też zajęcia w bardziej skompresowanej formie trwają nie 90 lecz aż 120minut. Słuchacze zapoznają się zarówno z tematami poruszanymi na „Angielskim na co dzień” tzw everyday English jak i zagadnieniami omawianymi na „Angielskim w pracy” czyli tematami z zakresu business English. Wszystko oczywiście okraszone jest licznymi zadaniami i grami konwersacyjnymi.
        | 
    .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-4
      h3.kurs3 Kursy: BTtalk 
        span.kids-01
          span.yellow-font K
          span.red-font I
          span.green-font D
          span.brown-font S
      |   
      #accordion4.panel-group
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion4", data-target="#collapse41") Angielski dla przedszkolaków
          |       
          #collapse41.panel-collapse.collapse
            #myCarousel4.carousel.slide(data-ride="carousel")
              // Indicators
              //- ol.carousel-indicators
              //-   li.active(data-target="#myCarousel4", data-slide-to="0")
              //-   |       
              //-   li(data-target="#myCarousel4", data-slide-to="1")
              .carousel-inner.dzieciaki
                .item.active
                  img(src="img/dzieciaki-do-karuzeli/01.jpg", alt="Kids", style="width:100%;")
                  | 
                .item
                  img(src="img/dzieciaki-do-karuzeli/02.jpg", alt="Kids2", style="width:100%;")
                  | 
            .panel-body
              | Angielski dla przedszkolaków to nauka przez zabawę jednak w formie jak najbardziej konwersacyjne, bez książek, ćwiczeń itd. Dzieci w wieku 5 lat poznają pojedyncze słówka i zwroty, które pojawią się na obrazkach, ale tez i w piosenkach i grach. Plus dużo śmiechu podczas zabaw ruchowych czy manualnych. Z kolei 6 latki uczą się (również w zabawowej formie) budować proste zdania i pytania a nawet układają proste dialogi.
        |     
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion4", data-target="#collapse42") Angielski dla dzieci szkolnych
          |       
          #collapse42.panel-collapse.collapse
            .panel-body
              | Angielski dla dzieci szkolnych to kurs pomyślany jako uzupełnienie zajęć szkolnych, podczas których dzieci uczą się bardziej o języku. U nas w BTtalk zaś nacisk położony jest (podobnie jak u dorosłych) na używanie angielskiego. Zatem większość czasu poświęcamy na gry i zabawy konwersacyjne, które w bezstresowy sposób zmuszają dzieci do mówienia. Dlatego podobnie jak w przypadku przedszkolaków nie używamy ani książek ani ćwiczeń lecz materiały pomocnicze z zabawami i grami konwersacyjnymi.
        |     
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
    
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
    .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-4
      h3.kurs3 Kursy: Dla Firm
      |   
      #accordion3.panel-group
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion3", data-target="#collapse31") Kursy Dla Firm
          |       
          #collapse31.panel-collapse.collapse
            .panel-body
              | Oferujemy Państwa firmie kompleksową obsługę z zakresu komunikacji w języku angielskim.
              | Nasza oferta obejmuje:
              ul.cont2
                li.cont kursy językowe na wszystkich poziomach zaawansowania przeznaczone dla pracowników i kadry kierowniczej, prowadzone w Państwa siedzibie lub w innej dogodnej lokalizacji, w wybranej przez Państwa porze i odpowiednim wymiarze godzin
                li.cont tłumaczenie z języka angielskiego i na angielski, zarówno pisemnie jak i ustnie
                li.cont kursy języka polskiego dla cudzoziemców, prowadzone metodą komunikacyjną
                li.cont obsługę wyjątkowych lub cyklicznych wydarzeń, których charakter wymaga pomocy ze strony osób biegle władających językiem angielskim.
              | Wyróżnia nas elastyczność, gotowość do rzeczywistego dopasowania oferty do potrzeb naszych Klientów oraz konkurencyjne ceny. Jeśli szukają Państwo usług językowych rzeczywiście skrojonych na miarę, prosimy o kontakt z nami.
        |     
    .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-4
      h3.kurs3 Kursy: Indywidualne
      |   
      #accordion5.panel-group
        .panel.panel-default
          .panel-heading
            button.btn.btn-info(type="button", data-toggle="collapse", data-parent="#accordion5", data-target="#collapse51") Konwersacje indywidualne
          |       
          #collapse51.panel-collapse.collapse
            .panel-body
              | Jeśli nie jesteś w stanie dotrzeć na żaden z naszych kursów lub masz bardzo dużą blokadę związaną z mówieniem po angielsku, to zawsze pozostaje opcja konwersacji indywidualnych.
        |     
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12

    //- .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-4
    //- .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
