.container-fluid#section4
  .row#lektorzy
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
      .navigation
        span
          a(href="#oferta", title="W dół")
            i.fa.fa-arrow-circle-down.navigation-icon
        span
          a(href="#dlaczego-my", title="W górę")
            i.fa.fa-arrow-circle-up.navigation-icon
    .text-center
      h2 Lektorzy (+ zaplecze głosowe)

    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
    .col-xs-12.col-sm-6.col-md-6.col-lg-2.col-xl-2
      .ludziki5
        .floating-box.icon-ludz-06
      .akapit.l-1
        .icon-Bartek-icon
        //- img(src="http://via.placeholder.com/200x200")
        h5(style="padding: 10px;") Bartek
        p.lektorzy Mimo że mam za sobą wiele prywatnych lekcji, przeprowadzonych jako lektor z młodzieżą i dorosłymi wciąż mam nadzieję pozostaję skromnym i pełnym poczucia humoru człowiekiem. Różnorodne doswiadczenie językowe zdobywałem jako uczeń i słuchacz wielu zajęć z języka angielskiego: od prywatnych spotkań, poprzez lekcje w szkole w klasie o profilu filologicznym, w British Council, gdzie zdobyłem certyfikaty FCE i CAE, po konwersacje z native speakerami. Pracowałem ponadto kilka lat w Wielkiej Brytanii w biurze projektowym, gdzie zetknąłem się nie tylko z żywym językiem codziennym, ale także językiem oficjalnym, biznesowym, prawniczym i technicznym. Również tam miałem okazję się przekonać jakie metody nauczania preferują angielskie szkoły językowe. Tymi wszystkimi doświadczeniami chciałbym podzielić się z Wami…
    .col-xs-12.col-sm-6.col-md-6.col-lg-2.col-xl-2
      .akapit.l-2
        .icon-Natalia-icon
        h5(style="padding: 10px;") Natalia
        p.lektorzy Nie potrafisz prowadzić swobodnej rozmowy w języku angielskim? Chcesz wyjechać za granicę ale boisz się, że nie podołasz ze zrozumieniem swobodnego języka? Nie martw się, to normalne. Ale coś trzeba z tym zrobić. To właśnie moja specjalność. Uczę angielskiego w różnych środowiskach, od korepetycji, klas, a także nauczania przez Internet, mam wiele wspaniałych doświadczeń w mojej pracy. Kocham to, co robię, i z wielką przyjemnością dzielę się swoją wiedzą. Najbardziej w nauczaniu lubię spotykanie studentów z różnych środowisk, uczenie się nowych rzeczy od nich, dostosowując swoje lekcje do ich szczególnych potrzeb, pomagając im w doskonaleniu swojego angielskiego i widząc ich postępy w życiu i karierze.

    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.hide-columns

    .col-xs-12.col-sm-6.col-md-6.col-lg-2.col-xl-2
      .akapit.l-3
        .icon-Hania-icon
        //- img(src="http://via.placeholder.com/200x200")
        h5(style="padding: 10px;") Hania
        p.lektorzy(style="padding-bottom: 0; margin-bottom: 0;") Praca z dziećmi to moja prawdziwa pasja. Od kilku lat pracuję z przedszkolakami oraz grupami zerowymi. W przedszkolu uczę nie tylko angielskiego, ale prowadzę regularne zajęcia z dziećmi. Moje przygotowanie pedagogiczne do nauczania przedszkolnego i wczesnoszkolnego okazuje się bardzo pomocne w przygotowaniu specjalnych gier i zabaw. Ukończone zaś podyplomowe studia z nauczania angielskiego dzieci z kolei ułatwiają mi dobranie zagadnień językowych odpowiednich dla najmłodszych.
    .col-xs-12.col-sm-6.col-md-6.col-lg-2.col-xl-2
      .akapit.l-3
        .icon-Ola-icon
        h5(style="padding: 10px;") Olla (zaplecze głosowe)

        p.lektorzy Bycie w centrum wydarzeń oraz kontakt z klientami to coś, co sprawia mi ogromną radość. Dokładam wszelkich starań by jak najlepiej przygotować i zorganizować każdy semestr, tak aby zarówno słuchacze jak i lektorzy czuli duży komfort. Staram się także pomóc wszystkim tym, którzy kontaktują się z naszym biurem.
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
