.container-fluid#section8
  .row#mapa(style="margin-bottom: 30px;")
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
      .navigation
        span
          a(href="#plan-zajec", title="W górę")
            i.fa.fa-arrow-circle-up.navigation-icon
    .text-center
      h2(style="margin-bottom: 50px;") Gdzie uczymy?
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
    .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-4
      i.fa.fa-building-o(style="font-size: 120px; margin-bottom: 30px;")
      p(style="font-size: 14px;") Zajęcia odbywają się w:
      p.zajecia2
        i.fa.fa-building-o(style="font-size: 20px;")
        |  Zespół Szkolno Przedszkolny nr 3 (dawna Szkoła Podstawowa nr 10); ul. Inflancka 13 (Psie Pole);
      p.zajecia2
        i.fa.fa-building-o(style="font-size: 20px;")
        |  Szkoła Podstawowa nr 7; Aleja Brücknera 12, Wrocław;
      //- p.zajecia2
      //-   i.fa.fa-building-o(style="font-size: 20px;")
      //-   |  Szkoła Podstawowa nr 1; ul. Nowowiejska 78 (okolice Placu Grunwaldzkiego).
    .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-4
      #map(style="height:400px; width:100%;")
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
