h2 Modal Example
// Trigger/Open The Modal
button#myBtn Open Modal
// The Modal
#myModal.modal
  // Modal content
  .modal-content
    span.close ×
    |     
    p Some text in the Modal..
