nav#myScrollspy.col-sm-3
  //- ul.nav.nav-pills.nav-stacked(data-spy="affix", data-offset-top="205")
  ul.nav.nav-pills.nav-stacked.list-unstyled.list-sidebar(style="position: fixed;")
    li
      a#bar(href="#section1")
        i.fa.fa-circle.tooltip
          span.tooltiptext Aktualności
    |         
    li
      a#bar(href="#section2")
        i.fa.fa-circle.tooltip
          span.tooltiptext Aktualności
    |         
    li
      a#bar(href="#section3")
        i.fa.fa-circle.tooltip
          span.tooltiptext Aktualności
    |         
    li
      a#bar(href="#section4")
        i.fa.fa-circle.tooltip
          span.tooltiptext Aktualności
    |         
    li
      a#bar(href="#section5")
        i.fa.fa-circle.tooltip
          span.tooltiptext Aktualności
    |  
    li
      a#bar(href="#section6")
        i.fa.fa-circle.tooltip
          span.tooltiptext Aktualności
    |  
    li
      a#bar(href="#section7")
        i.fa.fa-circle.tooltip
          span.tooltiptext Aktualności
    |  
    li
      a#bar(href="#section8")
        i.fa.fa-circle.tooltip
          span.tooltiptext Aktualności
    |  
