.container-fluid#section5
  .row
    //- .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
    //-   .navigation
    //-     span
    //-       a(href="#kursy", title="W dół")
    //-         i.fa.fa-arrow-circle-down.navigation-icon
    //-     span
    //-       a(href="#lektorzy", title="W górę")
    //-         i.fa.fa-arrow-circle-up.navigation-icon
    //- .text-center
    //-   h2 Oferta Cenowa 
    //-   p(style="font-size: 14px; font-weight: normal; text-align: center; margin-top: -30px; margin-bottom: 30px;") (Poglądowy cennik kursów)
    //- |   
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
    .col-xs-12.col-sm-12.col-md-12.col-lg-8.col-xl-8#cennik
      .ludziki4
        .floating-box.icon-ludz-05
        .floating-box.icon-ludz-04
        .floating-box.icon-ludz-13
      table-responsive
          table.table-01
            tr
              td.name01
                h1 Angielski dla zabieganych: wszystkie poziomy (Everyday Eng. + Business Eng.)
              td.name02
                p
                  |  Liczba spotkań w semestrze:
                  strong  15 x 120min (1 x tyg)
                p
                  |  Liczba osób w grupie:
                  strong  6 – 10
              td.name03
                //- h3 770 zł
                h4 Cena za semestr w zależności od liczby uczestników
                //- h4 Cena przy jednorazowej wpłacie
                //- h5 Raty: 2 x 450 zł
      table-responsive
          table
            tr
              td.name01
                h1 Angielski na co dzień: wszystkie poziomy (Everyday English)
              td.name02
                p
                  |  Liczba spotkań w semestrze:
                  strong  30 x 90 min (2 x tyg)
                p
                  |  Liczba osób w grupie:
                  strong  6 – 10
              td.name03
                //- h3 1100 zł
                h4 Cena za semestr w zależności od liczby uczestników
                //- h4 Cena przy jednorazowej wpłacie
                //- h5 Raty: 3 x 400 zł lub 2 x 600 zł
      table-responsive
          table
            tr
              td.name01(style="background-color: #af2a00;")
                h1 Angielski w pracy: wszystkie poziomy (Business English)
              td.name02
                p
                  |  Liczba spotkań w semestrze:
                  strong  30 x 90 min (2 x tyg)
                p
                  |  Liczba osób w grupie:
                  strong  6 – 10
              td.name03
                //- h3 1100 zł
                h4 Cena za semestr w zależności od liczby uczestników
                //- h4 Cena przy jednorazowej wpłacie
                //- h5 Raty: 3 x 400 zł lub 2 x 600 zł
      table-responsive
          table
            tr
              td.name01(style="background-color: #af2a00;")
                h1 Angielski dla firm: wszystkie poziomy (Everyday Eng. + Business Eng.)
              td.name02
                p
                  |  Liczba spotkań w semestrze do uzgodnienia:
                p
                  |  Liczba osób w grupie:
                  strong  6 - 10
              td.name03
                h4 Cena do uzgodnienia
      table-responsive
          table
            tr
              td.name01(style="background-color: #f4951e;")
                h1 Angielski dla przedszkolaków: 5 latki oraz 6 latki

              td.name02
                p
                  |  Liczba spotkań:
                  strong  30 x 30 min (cały rok, 1 x tyg)
                p
                  |  Liczba osób w grupie:
                  strong  6 - 12
              td.name03
                //- h3 590 zł
                h4 Cena za rok w zależności od liczby uczestników
                //- h5 Raty: 2 x 350 zł
      table-responsive
          table
            tr
              td.name01(style="background-color: #f4951e;")
                h1 Angielski dla dzieci szkolnych: 7 latki oraz 8 latki
              td.name02
                p
                  |  Liczba spotkań:
                  strong  15 x 45 min (1 x tyg)
                p
                  |  Liczba osób w grupie:
                  strong  6 - 12
              td.name03
                //- h3 450 zł
                h4 Cena za rok w zależności od liczby uczestników
                //- h4 Cena przy jednorazowej wpłacie
                //- h5 Raty: 2 x 280 zł
      table-responsive
          table
            tr
              td.name01(style="background-color: #f4951e;")
                h1 Angielski dla dzieci szkolnych: 7 latki oraz 8 latki
              td.name02
                p
                  |  Liczba spotkań:
                  strong  30 x 45 min (2 x tyg)
                p
                  |  Liczba osób w grupie:
                  strong  6 - 12
              td.name03
                //- h3 890 zł
                h4 Cena za rok w zależności od liczby uczestników
                //- h5 Raty: 2 x 490 zł
      table-responsive
          table
            tr
              td.name01
                h1 Konwersacje indywidualne
              td.name02
                p
                  |  Liczba spotkań w tygodniu dowolna
                  strong  60 min
              td.name03
                h3 80 zł
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
