.container-fluid#section5b
  .row#oferta
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
      .navigation
        span
          a(href="#kursy", title="W dół")
            i.fa.fa-arrow-circle-down.navigation-icon
        span
          a(href="#lektorzy", title="W górę")
            i.fa.fa-arrow-circle-up.navigation-icon
    .text-center
      h2 Oferta
  .row.oferta-merci
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
    .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-6
      .ofertyAll
        .oferta01
          p.ofertaHead1 Elastyczne płatności za kursy
          p.ofertaText1
            |  Podchodzimy do tematu płatności elastycznie, gdyż uważamy, że należy płacić za spotkania, w których będzie się brać udział. Zdarza się, że już na początku semestru, ktoś zgłasza, że może uczęszczać na zajęcia tylko raz w tygodniu a akurat kurs obejmuje dwa spotkania tygodniowo. Wtedy płaci za połowę kursu. Bywają też przypadki, że słuchacz zgłasza, iż może przychodzić np. we wtorki i w co drugi piątek, wtedy również naliczamy odpowiednią opłatę. Powyżej wymienione przypadki, nie obejmują oczywiście nieobecności spowodowanych sytuacją losową.
        .oferta05
          p.ofertaHead5 Kiedy można dołączyć do grupy?
          p.ofertaText5(style="padding-bottom: 0px;")
            |  Nasze kursy konwersacyjne prowadzone są w taki sposób, że można dołączyć do grupy w dowolnym momencie w semestrze. Zachęcamy do nieodkładania tej decyzji, gdyż uważamy, że specjalnie oczekiwanie na rozpoczęcie kolejnego semestru przez 2 lub 3 miesiące jest zupełnie niepotrzebną stratą czasu.
          p.ofertaText5
            | #[strong UWAGA!] Przyłączając się do danej grupy w trakcie semestru, słuchacz płaci tylko za te spotkania, w których weźmie udział. Zatem indywidualnie wylicza się wtedy należną opłatę oraz określa terminy płatności.
        .bonus.b01
          p 5%
        .bonus.b03
          p Free
    .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-6
      .ofertyAll
        .oferta02
          p.ofertaHead2 Programy lojalnościowe
          p.ofertaText2(style="padding-bottom: 0px;")
            |  Jak każda szanująca się firma posiadamy swoje programy lojalnościowe:
            |                 
          //- ul.ofertaText2(style="padding-left: 35px;")
          ul.ofertaText2
            li
              strong Za kontynuację kursu
              |  otrzymuje się 
              strong rabat
              |  na kolejny semestr w wysokości #[mark 5%]
              | .
            |                 
            li
              strong Program rodzinny.
              |  Chodzi o to, że każdy członek najbliższej rodziny słuchacza (mąż, żona, dzieci), który rozpocznie u nas naukę otrzymuje #[mark 10%] upustu
        //- .oferta03
        //-   p.ofertaHead3 Ostateczne ceny
        //-   p.ofertaText3
        //-     |  Podane powyższej ceny są ostateczne – nie ma żadnych dodatkowych ukrytych kosztów.
        .oferta04
          p.ofertaHead4 Pierwsza lekcja bez zobowiązań
          p.ofertaText4
            |  – Jak to działa? Wyobraź sobie, że zamierzasz dołączyć do jakiejś grupy, ale uprzednio wolałbyś zobaczyć w jaki sposób prowadzone są zajęcia i jednocześnie ocenić, czy poziom grupy jest dla Ciebie odpowiedni. W takim wypadku przychodzisz na spotkanie w wybranej grupie i bierzesz udział w zajęciach. Jeśli Ci się nie spodoba, nie musisz za nie płacić i do niczego nie jesteś zobowiązany. Każdy słuchacz, który zamierza rozpocząć u nas naukę, może przyjść na taką lekcję do każdej istniejącej grupy. Szczególnie zachęcamy do takiej opcji osoby, którym trudno jest określić własny poziom mówienia po angielsku.
        .bonus.b02
          p 10%
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
