.container-fluid#section7
  .row#plan-zajec
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
      .navigation
        span
          a(href="#mapa", title="W dół")
            i.fa.fa-arrow-circle-down.navigation-icon
        span
          a(href="#aktualnosci", title="W górę")
            i.fa.fa-arrow-circle-up.navigation-icon
            
    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
      //- ul#timeline_plan-z
    //- .col-xs-12.col-md-3.col-lg-3(style="position: relative; border-right: 0px solid #eee9dc;")
      //- .pomocniczy(style="position: absolute; height: 100%; width: 100%; border-right: 8px solid #eee9dc; z-index: 30;")

    .col-xs-12.col-sm-12.col-md-12.col-lg-8.col-xl-8
      .text-center
        h2 Plan zajęć 
        //- .glyphicon.glyphicon-pencil(style="font-size: 30px; transform: scale(-1); margin-bottom: 30px;")
      .ludziki6
        .floating-box.icon-ludz-06
        .floating-box.icon-ludz-08
      .ludziki13
        .floating-box.icon-ludz-07
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        
        .floating-box.icon-ludz-01
        .floating-box.icon-ludz-02
        .floating-box.icon-ludz-04
        .floating-box.icon-ludz-12
        .floating-box.icon-ludz-10
        .floating-box.icon-ludz-11
        .floating-box.icon-ludz-14
        .floating-box.icon-ludz-08
        .floating-box.icon-ludz-16
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        .floating-box.icon-ludz-15
        .floating-box.icon-ludz-13
        .floating-box.icon-ludz-09
      .obrysTablicy
        h3 PROPONOWANY PLAN ZAJĘĆ W NOWYM SEMESTRZE ZIMOWYM  2018/2019 – DOROŚLI
        table-responsive
          table.plan-z
            thead
              tr
                th godz.
                th.hide-text Poniedziałek
                th Wtorek
                th Środa
                th.hide-text Czwartek
                th.hide-text Piątek
            tbody
              tr
                td 18:30 - 20:30
                td.hide-text -
                td #[strong Grupa 1]
                  p Angielski dla zabieganych
                  p A1/A2
                  p ul. Inflancka 13
                td #[strong Grupa 2]
                  p Angielski dla zabieganych
                  p B1/B2
                  p ul. Inflancka 13
                td.hide-text -
                td.hide-text -

        p.uwaga #[strong UWAGA]: Do grup można dołączyć w dowolnym momencie w semestrze! Zatem nawet jeśli nie dotarłeś ani na spotkanie organizacyjne ani na pierwszą lekcję zawsze możesz przyjść na drugą lub następną.
        p.uwaga Nowość w tym roku – w grupach intermediate i wyższych raz w tygodniu zajęcia pod tytułem non-stop-talk czyli konwersacja w czystej postaci! Słowem atrakcji nie zabraknie.
        p.uwaga2.ukryty-text #[strong UWAGA:] Zajęcia #[strong nie są prowadzone!] w następujące dni tygodnia: Poniedziałek, Czwartek, Piątek.

        h3 PROPONOWANY PLAN ZAJĘĆ W NOWYM SEMESTRZE ZIMOWYM  2018/2019 – 
          span.kids-03
            span.green-font D
            span.purple-font Z
            span.brown-font I
            span.pink-font E
            span.red-font C
            span.yellow-font I
        table-responsive
          table.plan-z
            thead
              tr
                th godz.
                th.hide-text Poniedziałek
                th Wtorek
                th Środa
                th.hide-text Czwartek
                th.hide-text Piątek
            tbody
              tr
                td 16:15 - 17:00
                td.hide-text -
                td #[strong Grupa D1]
                  p Angielski dla 
                    span.kids-03
                      span.yellow-font I
                      span.red-font -
                      span.green-font k
                      span.brown-font l
                      span.purple-font a
                      span.yellow-font s
                      span.green-font i
                      span.brown-font s
                      span.blue-font t
                      span.pink-font ó
                      span.brown-font w
                  p 7 latków
                  p Al. Brücknera 12
                  p.z-ruszyly Zapisy ruszyły!
                td -
                td.hide-text -
                td.hide-text -
              tr
                td 17:30 - 18:00
                td.hide-text -
                td -
                td #[strong Grupa D2]
                  p Angielski dla 
                    span.kids-03
                      span.yellow-font p
                      span.red-font r
                      span.green-font z
                      span.brown-font e
                      span.purple-font d
                      span.yellow-font s
                      span.green-font z
                      span.red-font k
                      span.brown-font o
                      span.blue-font l
                      span.pink-font a
                      span.brown-font k
                      span.yellow-font ó
                      span.purple-font w
                  p 5 i 6 latki
                  p ul. Inflancka 13
                  p.z-ruszyly Zapisy ruszyły!
                td.hide-text -
                td.hide-text -
              //- tr
              //-   td 17:10 - 17:40/17:55
              //-   td.hide-text -
              //-   td #[strong Grupa D5]
              //-     p Angielski dla 
              //-       span.kids-03
              //-         span.yellow-font p
              //-         span.red-font r
              //-         span.green-font z
              //-         span.brown-font e
              //-         span.purple-font d
              //-         span.yellow-font s
              //-         span.green-font z
              //-         span.red-font k
              //-         span.brown-font o
              //-         span.blue-font l
              //-         span.pink-font a
              //-         span.brown-font k
              //-         span.yellow-font ó
              //-         span.purple-font w
              //-     p 5 i 6 latki
              //-     p Al. Brücknera 12
              //-     p.z-ruszyly Zapisy ruszyły!
              //-   td #[strong Grupa D2]
              //-     p Angielski dla 
              //-       span.kids-03
              //-         span.yellow-font I
              //-         span.red-font -
              //-         span.green-font k
              //-         span.brown-font l
              //-         span.purple-font a
              //-         span.yellow-font s
              //-         span.green-font i
              //-         span.brown-font s
              //-         span.blue-font t
              //-         span.pink-font ó
              //-         span.brown-font w
              //-     p 7 latków
              //-     p ul. Inflancka 13
              //-     p.z-ruszyly Zapisy ruszyły
              //-   td.hide-text -
              //-   td.hide-text -
              //- tr
              //-   td 18:05 - 18:35
              //-   td.hide-text -
              //-   td -
              //-   td #[strong Grupa D3]
              //-     p Angielski dla 
              //-       span.kids-03
              //-         span.yellow-font p
              //-         span.red-font r
              //-         span.green-font z
              //-         span.brown-font e
              //-         span.purple-font d
              //-         span.yellow-font s
              //-         span.green-font z
              //-         span.red-font k
              //-         span.brown-font o
              //-         span.blue-font l
              //-         span.pink-font a
              //-         span.brown-font k
              //-         span.yellow-font ó
              //-         span.purple-font w
              //-     p 5 i 6 latki
              //-     p ul. Inflancka 13
              //-     p.z-ruszyly Zapisy ruszyły!
              //-   td.hide-text -
              //-   td.hide-text -

        p.uwaga #[strong UWAGA:] Do grup można dołączyć w dowolnym momencie semestru!
        p.uwaga2.ukryty-text #[strong UWAGA:] Zajęcia #[strong nie są prowadzone!] w następujące dni tygodnia: Poniedziałek, Czwartek, Piątek.

    .col-xs-12.col-sm-12.col-md-12.col-lg-2.col-xl-2
