.sidebar#myScrollspy
  ul.nav.nav-pills.nav-stacked.list-unstyled.list-sidebar
    li
      a.bar(href="#start")
        i.fa.fa-circle.tooltip
          span.tooltiptext Start
    li
      a.bar(href="#idea")
        i.fa.fa-circle.tooltip
          span.tooltiptext Idea
    li
      a.bar(href="#dlaczego-my")
        i.fa.fa-circle.tooltip
          span.tooltiptext Dlaczego my?
    li
      a.bar(href="#nasze-atuty")
        i.fa.fa-circle.tooltip
          span.tooltiptext Nasze atuty
    li
      a.bar(href="#lektorzy")
        i.fa.fa-circle.tooltip
          span.tooltiptext Lektorzy
    li
      a.bar(href="#oferta")
        i.fa.fa-circle.tooltip
          span.tooltiptext Oferta
    li
      a.bar(href="#kursy")
        i.fa.fa-circle.tooltip
          span.tooltiptext Kursy
    li
      a.bar(href="#aktualnosci")
        i.fa.fa-circle.tooltip
          span.tooltiptext Aktualności
    li
      a.bar(href="#plan-zajec")
        i.fa.fa-circle.tooltip
          span.tooltiptext Plan zajęć
    li
      a.bar(href="#mapa")
        i.fa.fa-circle.tooltip
          span.tooltiptext Gdzie uczymy?
    li
      a.bar(href="#kontakt")
        i.fa.fa-circle.tooltip
          span.tooltiptext Kontakt
