.container-fluid.wspolpraca
  .row(style="margin-bottom: 30px;")
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
    .text-center
        h2(style="margin-bottom: 50px;") Współpraca i Partnerzy
    .col-xs-12.col-sm-12.col-md-2.col-lg-2.col-xl-2
    .col-xs-12.col-sm-6.col-md-2.col-lg-2.col-xl-2
      img.partner(src="img/wspolpraca/nike.png", alt="nike", style="width:100%;")
    .col-xs-12.col-sm-6.col-md-2.col-lg-2.col-xl-2
      img.partner(src="img/wspolpraca/radio_maryja.jpg", alt="nike", style="width:100%;")
    .col-xs-12.col-sm-6.col-md-2.col-lg-2.col-xl-2
      img.partner(src="img/wspolpraca/tv_trwam.jpg", alt="nike", style="width:100%;")
    .col-xs-12.col-sm-6.col-md-2.col-lg-2.col-xl-2
      img.partner(src="img/wspolpraca/cia.png", alt="nike", style="width:100%;")
    .col-xs-12.col-sm-12.col-md-2.col-lg-2.col-xl-2

    .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12

    .col-xs-12.col-sm-12.col-md-2.col-lg-2.col-xl-2
    .col-xs-12.col-sm-6.col-md-2.col-lg-2.col-xl-2
      img.partner(src="img/wspolpraca/nasa.png", alt="nike", style="width:100%;")
    .col-xs-12.col-sm-6.col-md-2.col-lg-2.col-xl-2
      img.partner(src="img/wspolpraca/masarnia.jpg", alt="nike", style="width:100%;")
    .col-xs-12.col-sm-6.col-md-2.col-lg-2.col-xl-2
      img.partner(src="img/wspolpraca/jumbo.png", alt="nike", style="width:100%;")
    .col-xs-12.col-sm-6.col-md-2.col-lg-2.col-xl-2
      img.partner(src="img/wspolpraca/pkp.png", alt="nike", style="width:100%;")
    .col-xs-12.col-sm-12.col-md-2.col-lg-2.col-xl-2
